@import 'mixins';
@import 'variables';

.background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__home {
        background-color: $primary-color;
    }
    
    &__people{
        background-image: url("../images/layer.png"), url("../images/people.jpg");
    }

    &__primary {
        background-color: $primary-color;
    }

    &__darken {
        background-color: $font-color;
    }

    &__white {
        background-color: #fff;
    }
    
}


.background-darken {
    background-color: #f8f8f8;
}