@import 'mixins';
@import 'variables';

.btn {
    &-info {
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid $primary-color;
        color: $primary-color;
        &:hover,
        &:active,
        &:focus {
            background-color: transparentize(darken($primary-color, 15%), 0.8);
            border-color: darken($primary-color, 15%);
            color: darken($primary-color, 15%);
        }
        &:active:hover,
        &:active:focus {
            background-color: transparentize(darken($primary-color, 15%), 0.7);
            border-color: darken($primary-color, 15%);
            color: darken($primary-color, 15%);
        }
    }
    &-primary {
        background-color: $primary-color;
        border-radius: 4px;
        border: 0;
        color: #fff;
        &:hover,
        &:active,
        &:focus {
            background: darken($primary-color, 15%);
        }
        &:active:hover,
        &:active:focus {
            background: darken($primary-color, 30%);
        }
    }
    &-light {
        background-color: transparent;
        border-radius: 4px;
        border: 2px solid $light-color;
        color: $light-color;
        &:hover,
        &:active,
        &:focus {
            color: $light-color;
            background-color: transparentize(darken($light-color, 15%), 0.7);
        }
        &:active:hover,
        &:active:focus {
            background-color: transparentize(darken($light-color, 15%), 0.7);
        }
    }
    &-wide {
        padding-left: 35px;
        padding-right: 35px;
    }
    &-free {
        border: none;
        background: none;
        &:hover,
        &:active,
        &:focus {
            background: none;
        }
        &:active:hover,
        &:active:focus {
            background: none;
        }
    }
}

.btn {
    &-xxl {
        font-size: 2em;
    }
}


.form-control{
    border-radius: unset;
    box-shadow: none;
    border-color: $primary-color;

    &:focus{
        border-color: $primary-color;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 194, 16, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 194, 16, 0.6);
    }
}


/* Navbar */

.navbar {
    border: none;
}

.navbar-default {
    transition: all 0.3s ease;
    background-color: $light-color;
    @include tablet{
        background-color: rgba(0,0,0,0.3);
    }

    .navbar-info {
        height: 0;
        transition: height 0.3s ease;
        overflow: hidden;
    }
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:focus,
    .navbar-nav>.active>a:hover,
    .navbar-nav>li>a:focus,
    .navbar-nav>li>a:hover {
        color: inherit;
        background-color: inherit;
    }
    .navbar-nav>li>a {
        color:#777;
        @include tablet {
            display: inline-block;
            color:white;
        }
        margin: 13px 5px;

        &:hover{
            background-color: darken(white, 5);
        }
    }
    .navbar-nav>.active {
        color: $primary-color
    }
    @include tablet {
        .top-scroll & .navbar-info {
            height: 50px;
        }
    }
    .dropdown-menu {
        background-color: #e7e7e7;
        border: 0;
        &>li>a {
            padding: 12px 50px;
        }
    }
}

.navbar-default .navbar-brand {
    padding: 26px 15px;
    font-size: 32px;
    font-family: $logo-font;
    margin-top: 0px;
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-toggle{
    margin-top: 21px;
}