@import 'mixins';
@import 'variables';
.contact {
    &-form {
        background-color: white;
        padding: 20px 25px 10px;
        &-item {
            padding-bottom: 10px;
        }
    }
    &-info {
        text-align: center;

        @include notebook{
            padding: 85px 0;
        }
        @include desktop{
            padding: 85px 150px;
        }

        &-block{
            padding: 25px 20px;
            margin: 15px 0px;
            position:relative;
            margin-bottom:10px;
            transition: background 0.2s ease;

            @include notebook{
                padding: 10px 20px 15px;
                margin:0;
            }

            &:hover{
                    background-color: darken($primary-color, 5);
                    cursor: pointer;
            }
        }
    }
}