@import 'mixins';
@import 'variables';

.hero {
    height: 70%;
    position: relative;
    @include tablet {
        // height: 100%;
    }
    &-container {
        position: relative;
        z-index: 1;
    }
    &-title {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 800;
        text-align: left;
        text-shadow: 0 2px 10px rgba(0,0,0,0.3);
        @include tablet {
            font-size: 60px;
        }
    }
    &-sub-title {
        color: #fff;
        font-size: 16px;
        @include tablet {
            font-size: 20px;
        }
    }
}

.hero__half {
    height: auto;
    @include tablet {
        height: 500px;
    }
}

.hero {
    .top-scroll &:before {
        opacity: 1;
    }
    &:before {
        content: '';
        position: absolute;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all 0.8s ease;
    }
}



.hero {
    height: auto!important;
    max-height: 100%;
    overflow: hidden;;
    .carousel,
    .carousel-inner,
    .item {
        height: 100%;
    }

    .carousel video {
        min-width: 100%;
        display: block;
        vertical-align: middle;
    }
}


.hero-filled {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.img-poster{
    min-width: 100%;
}