.icon {
    display: block;
    width: 130px;
    height: 130px;
    max-width: 100%;
    background-size: 100%;
    margin: 0 auto;
    background-position: center center;
    background-repeat: no-repeat;    

    &__inline {
        width: 200px;
        height: 70px;
    }
    &__lg {
        width: 220px;
        height: 130px;
    }
    &__sm {
        width: 65px;
        height: 80px;
    }
    &__xs {
        width: 45px;
        height: 100px;
    }

    &-communication {
        background-image: url('../images/icons/communication.png');
    }

    &-monetize {
        background-image: url('../images/icons/monetize.png');
    }

    &-email {
        background-image: url('../images/icons/email-icon.png');
    }

    &-location {
        background-image: url('../images/icons/location-icon.png');
    }
   
}


