@import 'mixins';
@import 'variables';

.logos-carousel {
    padding: 50px 40px 25px;
}

.logo {
    &-image {
        width: 160px;
        margin: 0 auto;
    }
}

.logo-arrow{
    position: absolute;
    top: 0;
    height: 100%;
    border: 0;
    background: none;
    font-size: 25px;
    padding: 40px 0 20px;
    outline: none;
    color: #a8a9ac;

    &__prev{
        left: 0;
    }

    &__next{
        right: 0;
    }
}