@import 'mixins';
@import 'variables';

.col-promo-left {
    padding-top: 40px;
    padding-bottom: 40px;
    @include notebook {
        padding-top: 0;
        padding-bottom: 0;
    }
    &:before {
        content: '';
        position: absolute;
        background-color: $purple-color;
        left: -100%;
        right: -100%;
        top: -50px;
        bottom: 0;
        z-index: -1;
        @include notebook {
            top: -50px;
            bottom: -50px;
            right: 0;
            left: -5000px;
        }
    }
}
.col-promo-right {
    padding-top: 40px;
    padding-bottom: 40px;
    @include notebook {
        padding-top: 0;
        padding-bottom: 0;
    }
    &:before {
        content: '';
        position: absolute;
        background-color: $green-color;
        left: -100%;
        right: -100%;
        top: 0;
        bottom: -50px;
        z-index: -1;
        @include notebook {
            top: -50px;
            bottom: -50px;
            right: -5000px;;
            left: 0;
        }
    }
}

.section-promo {
    overflow: hidden;
    padding: 0;
    @include notebook {
        padding: 50px 0;
    }
}

.row-promo {
    @include notebook {
        display: flex;
    }
}

.btn-promo {
    padding: 15px 50px;
    transition: background 0.2s ease;
    text-decoration: underline;

    &-white {
        background-color: $light-color;
    }

    &:hover {
        color: inherit;
    }
    &-green:hover {
        background-color: darken($green-color, 5);
    }
    &-purple:hover {
        background-color: darken($purple-color, 5);
    }
    &-white:hover {
        background-color: darken($light-color, 5);
    }
}