@import '_mixins';
@import '_variables';

.section {
    $side-padding: 60px;
    padding: 30px 0;

    @include notebook {
        padding: 50px 0;

        &-left {
            padding-right: $side-padding;
        }
        &-right {
            padding-left: $side-padding;
        }
    }
    &-footer{
        color:$light-color;
        padding: 20px 0 10px;

        a{
            color:$light-color;
        }
    }
}

.section {
    &-description {
        padding: 35px 0px;
        @include tablet{
            min-height:260px;
        }

        &-row{
            @include tablet{
                padding-bottom: 15px;
            }
        }
    }
    &-slogan {
        color: $purple-color;
        text-transform: uppercase;
        font-size: 1.3em;
    }
    &-link {
        text-align: center;
        padding-top: 30px;
    }

    &-footer{
        text-align: center;
        @include notebook{
            text-align: right;
        }
    }
}

.section-title {
    color: $font-color;
    span {
        padding: 0px 20px;
        border-bottom: 1px solid $font-color;
    }
    &-white {
        color: $light-color;
        span {
            border-bottom-color: $light-color;
        }
    }
    &-primary {
        color: $primary-color;
        span {
            border-bottom-color: $primary-color;
        }
    }
}