@font-face {
	font-family: 'VAG-Rundschrift-D';
	src: url('../fonts/vag-rundschrift-d_47301.eot');
    src: local('☺'), url('../fonts/vag-rundschrift-d_47301.woff') format('woff'), 
    url('../fonts/vag-rundschrift-d_47301.ttf') format('truetype'), 
    url('../fonts/vag-rundschrift-d_47301.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

$font-family: 'Open Sans', sans-serif;
$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1200px;

$primary-color: #ffc20e;
$green-color: #00a99d;
$purple-color: #8d3762;
$light-color: #fff;
$font-color: #322b29;
$category-label-color: $primary-color;
$logo-font: 'VAG-Rundschrift-D', sans-serif;