.video-container {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    z-index: -100;
    overflow: hidden;
}

.video-container video {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: - 1;
}
.video-container .pic {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: - 1;
}
// .video-container .overlay {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 2;
//     background-image: $main-gradient;
//     opacity: 0.78;
// }