@import 'mixins';
@import 'variables';

@import '_bootstrap-custom';
@import '_backgrounds';
@import '_hero';
@import '_icons';
@import '_contact';
@import '_video';
@import '_sections';
@import '_promo';
@import '_header-carousel';
@import 'logos';

html,
body {
    height: 100%;

body {
    color: #515459;
    font-family: $font-family;
    padding-top: 80px;
    @include tablet {
        padding-top: 0;
    }
}
}

figure {
    margin: 1em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font-color;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: underline;
    color:$font-color;
}

label {
    text-transform: uppercase;
    font-weight: normal;
}

textarea {
    resize: none;
}

footer{
    font-size:0.8em;
    @include tablet{
        font-size:1em;
    }
}

.title-primary {
    color: $primary-color;
    text-transform: uppercase;
    font-weight: 600;
}

.text-primary {
    color: $primary-color;
}

.text-black {
    color: $font-color;
}

.links-list {
    margin-bottom: 30px;
    li {
        padding: 5px 0;
    }
    a {
        color: inherit
    }
}

.justify-list-flex {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        position: relative;
        flex-basis: 25%;
        @include notebook {
            flex-basis: 14%;
        }
    }
}

.justify-list {
    text-align: justify;
    padding: 0;
    margin: 0;
    font-size: 0;
    &:after {
        width: 100%;
        display: inline-block;
        content: ".";
        visibility: hidden;
    }
    li {
        display: inline-block;
        position: relative;
    }
}

.vertical {
    &-container {
        display: table;
        width: 100%;
        height: 100%;
    }
    &-body {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
    }
}


.text-sm-left {
    @include tablet {
        text-align: left;
    }
}

.text-md-left {
    @include desktop {
        text-align: left;
    }
}

.text-sm-center {
    @include tablet {
        text-align: center;
    }
}

.text-md-center {
    @include desktop {
        text-align: center;
    }
}

.text-sm-right {
    @include tablet {
        text-align: right;
    }
}

.text-md-right {
    @include desktop {
        text-align: right;
    }
}

.scroll-navbar{
    background-color: $light-color;
    
    &.navbar-default{
        @include desktop {
            box-shadow: 0 3px 10px rgba(0,0,0,0.4);
        }
    }

    .navbar-nav>li>a {
        @include tablet {
            color:#777;
        }
    }

    .navbar-brand,
    .navbar-brand:focus,
    .navbar-brand:hover {
        color: $font-color;
    }
}

// .navbar-brand>img.logo {
//     &-hidden{
//         @include tablet{
//             display:none;
//             transition:all 0.3s ease; 
//         }
//     }
// }

.text-invert {
    color: $light-color;

    a {
        color: $light-color;
    }
}

.text-justify{
    text-align: justify;
}

.learn-more{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    z-index: 11;
}

