<section class="section background__primary">
    <div class="container">
        <h2 class="section-title section-title-white"><span>Contact us</span></h2>
        <div class="section-description">
            <div class="row">
                <div class="col-md-6">
                    <form action="mail.php" method="POST">
                        <div class="contact-form">
                            <div class="contact-form-item">
                                <label for="name">Name</label>
                                <input class="form-control" type="text" name="name" id="name" required="">
                            </div>
                            <div class="contact-form-item">
                                <label for="email">E-mail</label>
                                <input class="form-control" type="text" name="email" id="email" required="">
                            </div>
                            <div class="contact-form-item">
                                <label for="message">Message</label>
                                <textarea class="form-control" rows="3" type="text" name="message" id="message" required=""></textarea>
                            </div>
                            <div class="text-center">
                                <input type="submit" value="Send" class="btn btn-lg btn-promo btn-promo-white">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="contact-info text-invert">
                        <div class="contact-info-block">
                            <i class="icon icon-email icon__sm"></i>
                            <p>partners@utes.mobi</p>
                            <a class="learn-more" href="mailto:partners@utes.mobi"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>