<div class="modal fade" role="dialog" id="submitModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title">Start your project with us</h2>
            </div>

            <div class="modal-body">
                <p>You need to contact with our team</p>
                <div class="row">
                    <div class="col-md-6 col-md-push-6 hidden-xs hidden-sm">
                        <h3 style="margin-top: 0; line-height: 1.4" class="title-primary">Let's get started on your project today!</h3>
                        <p>
                            Thanks you for your interest in TATEEDA!
                            <br> Please provide us the requested information and we will get back to you as quickly as possible.
                        </p>
                        <p>
                            If you feel it's easier to speak with us, please don't hesitate to call us at <a href="tel:1112223333">111-222-3333</a>
                        </p>
                    </div>
                    <div class="col-md-6 col-md-pull-6">
                        <form action="/mail.php">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name" name="fullname">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Email" name="email" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone" name="phone">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Tell us about your needs" rows="4" name="message"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <input type="submit" value="Send" class="btn btn-primary btn-wide btn-lg">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>