<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <a class="navbar-brand" href="/">
                UTES<span style="font-size: 0.75em">.mobi</span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://utesmobi.affise.com/signup" class="btn btn-lg btn-promo btn-promo-purple">Sign Up</a> 
                    <a href="https://utesmobi.affise.com/" class="btn btn-lg btn-promo btn-promo-purple" style="text-decoration:none;">Sign In</a>
                </li>
            </ul>
        </div>
    </div>

</nav>