<section class="section background__white" id="logos">
    <div class="container">
        <h2 class="section-title section-title-primary"><span>Working with</span></h2>
        <div class="logos-carousel">
            <div class="logo">
                <img src="images/logos/accor-hotels.png" class="logo-image" alt="Accor Hotels">
            </div>
            <div class="logo">
                <img src="images/logos/disney_records.png" class="logo-image" alt="Disney Records">
            </div>
            <div class="logo">
                <img src="images/logos/goeuro.png" class="logo-image" alt="Goeuro">
            </div>
            <div class="logo">
                <img src="images/logos/hearthstone.png" class="logo-image" alt="Hearthstone">
            </div>
            <div class="logo">
                <img src="images/logos/letgo.png" class="logo-image" alt="Letgo">
            </div>
            <div class="logo">
                <img src="images/logos/Eharmony_new_logo.png" class="logo-image" alt="Eharmony">
            </div>
            <div class="logo">
                <img src="images/logos/Iheart-radio-logo.png" class="logo-image" alt="Iheart Radio">
            </div>
            <div class="logo">
                <img src="images/logos/logo-wadi-en.png" class="logo-image" alt="Wadi">
            </div>
            <div class="logo">
                <img src="images/logos/sports.png" class="logo-image" alt="Sports">
            </div>
        </div>
    </div>
</section>