<section class="section section-promo text-invert" style="position: relative;">
    <!-- <div class="section-green-md hidden-xs hidden-sm"></div> -->
    <!-- <div class="section-purple-md hidden-xs hidden-sm"></div> -->
    <div class="container">
        <div class="row row-promo">
            <div class="col-md-6 col-promo-left">
                <div class="section-left">
                    <span class="icon icon-communication"></span>
                    <h2 class="section-title section-title-white"><span>Advertise</span></h2>
                    <div class="section-description">
                            <div class="row">
                                <div class="col-md-6 section-description-row">
                                    <p>
                                        <b>Traffic quality control</b><br> 
                                        We take care about the quality of the traffic, eliminating the risk associated with affiliate channel.
                                    </p>
                                </div>
                                <div class="col-md-6 section-description-row">
                                    <p>
                                        <b>Experienced managers</b><br> 
                                        We work with the best on the market space, economize your budget and time.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6 section-description-row">
                                        <div class="section-description-item"></div>
                                        <p>
                                            <b>Targeted users</b><br> 
                                            You pay only for a relevant traffic, that meets your KPI’s.
                                        </p>
                                    </div>
                                    <div class="col-md-6 section-description-row">
                                        <p>
                                            <b>Own traffic sources</b><br> 
                                            The best quality traffic for your СPA, CPI, CPL applications.
                                        </p>
                                    </div>
                                </div>
                        </div>
                    <p class="text-center">
                        <a href="#" class="btn btn-lg btn-promo btn-promo-purple">Learn more...</a>
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-promo-right">
                <div class="section-right">
                    <i class="icon icon-monetize"></i>
                    <h2 class="section-title section-title-white"><span>Monetize</span></h2>
                    <div class="section-description" style="min-height:230px;">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <b>API integration</b><br> 
                                    Start earning money in few clicks.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <b>On-time payments</b><br> 
                                    Net30 day payments.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <b>High paying campaigns</b><br> 
                                        The hardest-working partners receive higher rates from advertisers.
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <b>Friendly support</b><br> 
                                        Our dedicated support team is ready to take your questions and suggestions. Individual working conditions for the proved publishers.
                                    </p>
                                </div>
                            </div>
                    </div>
                    <p class="text-center">
                        <a href="#" class="btn btn-lg btn-promo btn-promo-green">Learn more...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>